@font-face {
    font-family: "LabGrotesque";
    src: url(../fonts/LabGrotesque/LabGrotesque-Thin.woff);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "LabGrotesque";
    src: url(../fonts/LabGrotesque/LabGrotesque-Light.woff);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "LabGrotesque";
    src: url(../fonts/LabGrotesque/LabGrotesque-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "LabGrotesque";
    src: url(../fonts/LabGrotesque/LabGrotesque-Medium.woff);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "LabGrotesque";
    src: url(../fonts/LabGrotesque/LabGrotesque-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "LabGrotesque";
    src: url(../fonts/LabGrotesque/LabGrotesque-Black.woff);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "UntitledSansWeb";
    src: url(../fonts/UntitledSansWeb/UntitledSansWeb-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;	
    -webkit-overflow-scrolling: touch;
}

ul {
    list-style-type: none;
}

ul, li {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p {
    font-weight: 300;
    margin: 0;
}

a {
color: #000;
text-decoration: none;
}

textarea,
input {
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    color: #181818;
}

textarea {
    resize: none;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.slick-slide {
    outline: none;
}

body {
    width: 100%;
    min-width: 320px;
    background: #fff;
    font-family: LabGrotesque;
    font-size: 16px;
    color: #181818;
    font-weight: 300;
    margin: 0;
    -webkit-text-size-adjust: none;
}
  
.wrapper {
    width: 100%;
    max-width: 1240px;
    height: 100%;
    font-size: 0;
    overflow: hidden;
    position: relative;
    padding: 0 11px;
    margin: 0 auto;
}

.header {
    width: 100%;
    max-width: 1240px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #181818;
    z-index: 2;
    position: fixed;
    left: 0;
    right: 0;
    top: 20px;
    padding: 0 21px 0 11px;
    margin: 0 auto;
}

.header__left {
    height: 100%;
    display: flex;
    align-items: center;
}

.header__link {
    font-family: UntitledSansWeb;
    font-size: 25px;
    color: #fff;
    letter-spacing: -1.2px;
}

.header__icons {
    display: flex;
    align-items: center;
    margin: 0 0 0 58px;
}

.header__search {
    width: 18px;
    height: 18px;
    background: url(../img/header__search.svg) center no-repeat;
    background-size: 100%;
    cursor: pointer;
    transition: opacity .5s ease-out;
}

.header__search:hover {
    opacity: .7;
}

.header__filter {
    width: 24px;
    height: 24px;
    background: url(../img/header__filter.svg) center no-repeat;
    background-size: 100%;
    cursor: pointer;
    margin: 0 0 0 16px;
    transition: opacity .5s ease-out;
}

.header__filter:hover {
    opacity: .7;
}

.header__right {
    width: calc((100% - 6px) / 2);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.header__lnk {
    width: calc((100% - 18px) / 3);
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-left: 1px solid #fff;
    font-size: 15px;
    color: #fff;
    padding: 0 16px;
}

.header__lnk span {
    position: relative;
}

.header__lnk span:before {
    content: "";
    width: 0;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width .5s ease-out;
}

.header__lnk:hover span:before {
    width: 100%;
}

.header__menu {
    width: 18px;
    height: 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    transition: opacity .5s ease-out;
}

.header__menu:hover {
    opacity: .7;
}

.header__menu:after,
.header__menu:before {
    content: "";
    width: 100%;
    height: 2px;
    background: #fff;
    transition: transform .5s ease-out;
}

.header_drop {
    width: calc(50% + 2px);
    max-height: calc(100vh - 60px);
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    border: 1px solid #181818;
    border-top: none;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 40px;
    transform: translateX(400%);
    transition: transform .5s ease-out;;
}

.header_drop.active {
    transform: translateX(0);
}

.header_drop__block {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #181818;
    padding: 18px 15px;
}

.header_drop__block-inline {
    flex-direction: row;  
}

.header_drop__block-full {
    width: 100%;
}

.header_drop__block-empty {
    border-right: 1px solid #181818;
}

.header_drop__block:nth-last-child(2),
.header_drop__block:last-child {
    border-bottom: none;
}

.header_drop__address,
.header_drop__title,
.header_drop__link {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .3px;
}

.header_drop__address {
    margin: 17px 0 0;
}

.header_drop__link {
    position: relative;
    margin: 0 0 4px;
}

.header_drop__block-inline .header_drop__link {
    margin: 0 12px 0 0;
}

.header_drop__link:last-child {
    margin: 0;
}

.header_drop__link:before {
    content: "";
    width: 0;
    height: 1px;
    background: #181818;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width .5s ease-out;
}

.header_drop__link:hover:before {
    width: 100%;
}

.header_drop__textarea {
    width: 100%;
    height: 300px;
    border-bottom: 1px solid #181818;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .3px;
    padding: 18px 15px;
}

.header_drop__textarea::-webkit-input-placeholder {
    font-weight: 400;
}

.header_drop__submit {
    width: 50%;
    min-height: 36px;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    padding: 0 15px;
    transition: background .5s ease-out, color .5s ease-out;
}

.header_drop__submit:hover {
    background: #181818;
    color: #fff;
}

.header_search {
    width: 100%;
    height: calc(100vh - 60px);
    background: rgba(255, 255, 255, .95);
    position: absolute;
    left: 0;
    top: 60px;
    transform: translateX(-400%);
    transition: transform .5s ease-out;
}

.header_search.active {
    transform: translateX(0);
}

.header_search__form {
    width: calc(100% - 42px);
    height: 62px;
    display: flex;
    border: 2px solid #181818;
    position: relative;
    top: 19px;
}

.header_search__input {
    width: calc(100% - 135px);
    font-size: 36px;
    padding: 0 11px;
}

.header_search__submit {
    width: 135px;
    height: 100%;
    border-left: 2px solid #181818;
    font-size: 15px;
    cursor: pointer;
    transition: background .5s ease-out, color .5s ease-out;
}

.header_search__submit:hover {
    background: #181818;
    color: #fff;
}

.header_search__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 52px 0 0 11px;
}

.header_search__el {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .8px;
    cursor: pointer;
    position: relative;
    margin: 0 0 16px;
}

.header_search__el:last-child {
    margin: 0;
}

.header_search__el:before {
    content: "";
    width: 34px;
    height: 2px;
    background: #181818;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: width .5s ease-out;
}

.header_search__el:hover:before {
    width: 100%;
}

.content {
    max-width: 1240px;
    font-size: 0;
    overflow: hidden;
    margin: 0 auto;
}

.main_h1 {
    max-width: 310px;
    font-size: 24px;
    line-height: 30px;
    margin: 96px 0 82px;
}

.serach_line {
    border-bottom: 2px solid #181818;
    padding: 0 0 11px;
    margin: 0 0 9px;
}

.serach_line-page {
    margin: 98px 0 9px;
}

.serach_line__form {
    height: 40px;
    border-left: 2px solid #181818;
    overflow: hidden;
    padding: 0 0 0 11px;
}

.serach_line__form input {
    font-size: 36px;
    color: #181818;
    margin: -4px 0 0;
}

.main_filter {
    cursor: pointer;
    margin: 0 0 30px;
}

.main_filter__title {
    display: inline-block;
    font-size: 16px;
    position: relative;
    padding: 0 14px 0 0;
}

.main_filter__title:before,
.main_filter__title:after {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 0 0 4px;
    transition: opacity .5s ease-out, transform .5s ease-out;
}

.main_filter__title:before {
    content: "↓";
}

.main_filter__title:after {
    content: "×";
    opacity: 0;
}

.main_filter__title:hover:before,
.main_filter__title:hover:after {
    transform: rotate(-90deg);
}

.main_filter.active .main_filter__title:before {
    opacity: 0;
}

.main_filter.active .main_filter__title:after {
    opacity: 1;
}

.main_slider {
    margin: 0 0 96px;
}

.main_slider__top {
    border-bottom: 2px solid #181818;
    position: relative;
    padding: 0 0 28px;
    margin: 0 0 14px;
}

.main_slider__img {
    max-width: 760px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: auto;
}

.main_slider__fav {
    width: 38px;
    height: 38px;
    background-image: url(../img/fav.svg);
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: background .5s ease-out;
}

.main_slider__fav.active,
.main_slider__fav:hover {
    background-image: url(../img/fav-hover.svg);
}

.main_slider__help {
    display: flex;
    flex-direction: column;
    background: #fff;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.7px;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 62px;
    padding: 11px;
}

.main_slider__bottom {
    display:  flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.7px;
}

.main_slider__left {
    max-width: 270px;
}

.main_slider__nav {
    width: 32px;
    height: 25px;
    background: url(../img/main_slider__nav.svg) center no-repeat;
    background-size: contain;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.main_slider__nav-prev {
    left: calc(((100% - 760px) / 2) * .6);
    z-index: 9999;
}

.main_slider__nav-next {
    right: calc(((100% - 760px) / 2) * .6);
    transform: rotate(180deg);
}

.main_form {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #181818;
    margin: 0 0 80px;
}

.main_form__title {
    width: 100%;
    border-bottom: 2px solid #181818;
    font-size: 24px;
    letter-spacing: .3px;
    padding: 15px 11px;
}

.main_form__left {
    width: 50%;
    border-right: 2px solid #181818;
    font-size: 20px;
    line-height: 24px;
    padding: 15px 11px;
}

.main_form__right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.main_form__top {
    width: 100%;
    min-height: 117px;
    font-size: 20px;
    line-height: 24px;
    padding: 15px 11px;   
}

.main_form__top div {
    max-width: 300px;
    padding: 0 16px;
}

.main_form__input {
    width: 50%;
    height: 60px;
    border-right: 2px solid #181818;
    border-top: 2px solid #181818;
    font-size: 13px;
    color: #181818;
    text-align: left;
    padding: 0 16px;
}

.main_form__input:nth-child(2n + 1) {
    border-right: none;
}

.main_form__input-file {
    font-weight: 400;
    line-height: 60px;
    padding: 0;
}

.main_form__input-file input {
    display: none;
}

.main_form__input-file label {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    padding: 0 16px;
}

.main_form__input-submit {
    cursor: pointer;
    transition: background .5s ease-out, color .5s ease-out; 
}

.main_form__input-submit:hover {
    background: #181818;
    color: #fff;
}

.location {
    width: 100%;
    background: #f7f7f7;
    padding: 35px 0 55px;
    margin: 0 0 80px;
}

.location__h2 {
    font-size: 24px;
    letter-spacing: .5px;
    margin: 0 0 34px;
}

.location__wrp {
    width: calc(100% + 32px);
    margin: 0 0 45px -16px;
}

.location__element {
    width: 280px;
    margin: 0 16px;
}

.location__img {
    width: 100%;
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 20px;
}

.location__desc {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #181818;
}

.location__title {
    width: 100%;
    min-height: 40px;
    border-bottom: 1px solid #181818;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .3px;
    padding: 3px 11px;
}

.location__left {
    width: 75%;
    min-height: 38px;
    border-right: 1px solid #181818;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .3px;
    padding: 3px 11px;
}

.location__right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    padding: 3px 11px;
}

.location__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location__text {
    max-width: 300px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .3px;
}

.location__next {
    font-size: 15px;
    letter-spacing: .3px;  
}

.location__nav {
    position: relative;
    cursor: pointer;
}

.location__nav:before {
    content: "";
    width: 0;
    height: 1px;
    background: #181818;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width .5s ease-out;
}

.location__nav:hover:before {
    width: 100%;
}

.main_block {
    border: 2px solid #181818;
}

.main_block__wrp {
   display: flex;
   flex-wrap: wrap;
   border-bottom: 2px solid #181818;
   margin: 0 0 40px;
}

.main_block__wrp:last-child {
    border-bottom: none;
    margin: 0;
}

.main_block__h2 {
    width: 100%;
    border-bottom: 2px solid #181818;
    font-size: 24px;
    letter-spacing: .3px;
    padding: 15px 11px;
}

.main_block__left {
    width: 50%;
    border-right: 2px solid #181818;
    font-size: 20px;
    line-height: 24px;
    padding: 15px 11px;
}

.main_block__right {
    width: 50%;  
}

.main_block__line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid #181818;
    font-size: 15px;
    cursor: pointer;
    padding: 20px 16px;
}

.main_block__line:last-child {
    border-bottom: none;
}

.main_block__title {
    position: relative;
    padding: 0 0 0 14px;
}

.main_block__title:after,
.main_block__title:before {
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity .5s ease-out, transform .5s ease-out;
}

.main_block__title:before {
    content: "↓";
}

.main_block__title:after {
    content: "×";
    opacity: 0;
}

.main_block__line.active .main_block__title:before {
    opacity: 0;
}

.main_block__line.active .main_block__title:after {
    opacity: 1;
}

.main_block__line:hover .main_block__title:before { 
    transform: rotate(-90deg);
}

.main_block__desc {
    display: none;
}

.main_block__line.active .main_block__desc {
    display: block;
    margin: 22px 0 0;
}

.main_block__wrp-partners {
    border-bottom: none;
    margin-bottom: 0;
}

.main_block__partners {
    width: 100% ;
    display: flex;
    flex-wrap: wrap;
}

.main_block__partner {
    width: 25%;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #181818;
    border-bottom: 2px solid #181818;
}

.main_block__partner:nth-child(4n) {
    border-right: none;
}

.main_block__partner img {
    max-width: 70%;
    max-height: 70%;
    filter: grayscale(100%);
    transition: filter .5s ease-out;
}

.main_block__partner:hover img {
    filter: grayscale(0);
}

.main_block__persons {
    width: 100%;
    display: flex;
    padding: 11px 11px 47px;
}

.main_block__person {
    width: 50%;
    display: flex;
}

.main_block__img {
    width: 220px;
    max-width: 100%;
    height: 280px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;  
}

.main_block__about {
    width: calc(100% - 220px);
    display: flex;
    justify-content: center;
    padding: 28px 0 0;
}

.main_block__center {
    display: flex;
    flex-direction: column;
}

.main_block__h3 {
    font-size: 20px;
    margin: 0 0 40px;
}

.main_block__phone {
    font-size: 15px;
}

.main_block__news {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 19px 11px 0;
    margin: 0 0 71px;
}

.main_block__new {
    width: 23%;
    margin: 0 calc(8% / 3) 19px 0;
}

.main_block__new:nth-child(4n) {
    margin: 0 0 19px;
}

.main_block__image {
    width: 100%;
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 20px;
}

.main_block__date {
    font-size: 12px;
    margin: 0 0 18px;
}

.main_block__h3 {
    font-size: 20px;
    margin: 0 0 20px;
}

.main_block__txt {
    font-size: 16px; 
    line-height: 20px;
    margin: 0 0 4px;
}

.main_block__lnk {
    font-size: 12px;
    position: relative;
}

.main_block__lnk:before {
    content: "";
    width: 0;
    height: 1px;
    background: #181818;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width .5s ease-out;
}

.main_block__lnk:hover:before {
    width: 100%;
}

.main_block__more {
    font-size: 15px;
    cursor: pointer;
    position: relative;
    margin: 0 auto 97px;
}

.main_block__more:before {
    content: "";
    width: 0;
    height: 1px;
    background: #181818;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width .5s ease-out;
}

.main_block__more:hover:before {
    width: 100%;
}

.footer {
    width: 100%;
    height: 60px;
    display: flex;
    border: 2px solid #181818;
    margin: 100px 0 20px;
}

.footer-main {
    border-top: none;
    margin: 0 0 20px;
}

.footer__block {
    width: 50%;
    height: 100%;
}

.footer__block:first-child {
    border-right: 2px solid #181818; 
}

.footer__block {
    display: flex;
    align-items: center;
    font-size: 11px;
    letter-spacing: .3px;
    padding: 0 11px;
}

.footer__link {
    text-decoration: underline;
    margin: 0 0 0 2px;
}

.footer__social {
    position: relative;
    margin: 0 50px 0 0;
}

.footer__social:last-child {
    margin: 0;
}

.footer__social:before {
    content: "";
    width: 0;
    height: 1px;
    background: #181818;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width .5s ease-out;
}

.footer__social:hover:before {
    width: 100%;
}

.filter {
    width: 100%;
    background: #fff;
    border: 1px solid #181818;
    overflow-y: auto;
    position: relative;
    transition: max-height .5s ease-out, border .5s ease-out, margin .5s ease-out, transform .5s ease-out;
}

.main_filter .filter {
    max-height: 0;
    border: 1px solid transparent;
}

.main_filter .filter.active{
    max-height: initial;
    border: 1px solid #181818;
    margin: 8px 0 0;
}

.header .filter {
    max-height: calc(100vh - 60px);
    position: absolute;
    left: 0;
    top: 40px;
    transform: translateX(-400%);
}

.header .filter.active {
    transform: translateX(0);
    z-index: 999999;
}

.close {
    width: 21px;
    height: 21px;
    background: url(../img/filter__close.svg) center no-repeat;
    background-size: 100%;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: transform .5s ease-out;
}

.close-search {
    top: 0;
}

.close:hover {
    transform: rotate(90deg);
}

.filter__row {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #181818;
}

.filter__row:nth-child(2n) {
    border-bottom: 2px solid #181818;
}

.filter__row:last-child {
    border-bottom: none;
}

.filter__col {
    width: calc(100% / 3);
    border-right: 1px solid #181818;
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.filter__col-double {
    width: calc((100% / 3) * 2);
}

.filter__col-clear {
    padding: 0;
}

.filter__col:last-child {
    border-right: none;
}

.filter__col_col {
    width: 50%;
}

.filter__title {
    font-size: 15px;
    letter-spacing: 0.28px;
}

.filter_switch {
    display: flex;
    align-items: center;
    position: relative;
}

.filter_switch__left {
    width: 16px;
    height: 41px;
    border: 1px solid #181818;
    border-radius: 20px;
}

.filter_switch__right {
    margin: 0 0 0 -11px;
}

.filter_switch__radio {
    position: relative;
    margin: 0 0 3px;
}

.filter_switch__radio:last-child {
    margin: 0;
}

.filter_switch__radio label {
    font-size: 13px;
    color: #181818;
    letter-spacing: .5px;
    cursor: pointer;
    padding: 0 0 0 23px;
}

.filter_switch__radio label:before {
    content: '';
    width: 6px;
    height: 6px;
    background: #181818;
    border-radius: 100%;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 3px;
    transition: opacity .5s ease-out;
}

.filter_switch__radio input[type=radio] {
    display: none;
}

.filter_switch__radio input[type=radio]:checked + label:before {
    opacity: 1;
}

.filter__col-col {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 15px;
}

.filter__checkbox {
    position: relative;
    margin: 0 0 12px;
}

.filter__checkbox:last-child {
    margin: 0;
}

.filter__checkbox label {
    font-size: 15px;
    color: #181818;
    letter-spacing: .5px;
    cursor: pointer;
    padding: 0 0 0 23px;
}

.filter__checkbox label:before {
    content: '';
    width: 6px;
    height: 6px;
    border: 1px solid #181818;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 5px;
    transition: background .5s ease-out;
}

.filter__checkbox input[type=checkbox] {
    display: none;
}

.filter__checkbox input[type=checkbox]:checked + label:before {
    background: #181818;
}

.filter__button {
    width: 50%;
    height: 58px;
    border-right: 1px solid #181818;
    font-size: 13px;
    color: #181818;
    line-height: 58px;
    cursor: pointer;
    padding: 0 36px;
    transition: background .5s ease-out, color .5s ease-out;
}

.filter__button:hover {
    background: #181818;
    color: #fff;
}

.filter__button:last-child {
    border-right: none;
}

.breadcrumbs {
    font-size: 11px;
    margin: 83px 0 23px;
}

.breadcrumbs > * {
    position: relative;
    margin: 0 8px;
}

.breadcrumbs > *:first-child {
    margin: 0 8px 0 0;
}

.breadcrumbs a:before {
    content: "";
    width: 0;
    height: 1px;
    background: #181818;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width .5s ease-out;
}

.breadcrumbs a:hover:before {
    width: 100%;
}

.card {
    min-height: 454px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card__left {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #181818;
}

.card__h1 {
    width: calc(100% - 96px);
    border-right: 2px solid #181818;
    border-bottom: 2px solid #181818;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .3px;
    padding: 15px 11px;
}

.card__number {
    width: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #181818;
    font-size: 11px;
}

.card__number span {
    font-size: 34px;
    font-weight: 400;
}

.card__wrp {
    width: 100%;
    height: 0;
    display: flex;
    flex-wrap: wrap;
    transform: scale(0);
    transition: height .5s, transform .5s;
}

.card__wrp.active {
    height: auto;
    transform: scale(1);
}

.card__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #181818;
    position: relative;
    padding: 15px 11px;
}

.card__row:last-child {
    border-bottom: none; 
}

.card__row-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.card__gal {
    cursor: pointer;
}

.card__gal span:nth-child(2) {
    display: none;
}

.card__gal.active span:first-child {
    display: none;
}

.card__gal.active span:nth-child(2) {
    display: inline;
}

.card__row-small {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
    line-height: 15px;
    padding: 8px 11px;
}

.card__row-border {
    border-right: 2px solid #181818;
}

.card__wp {
    margin: 0 25px 0 0;
}

.card__wp:last-child {
    margin: 0;
}

.card__ul {
    display: flex;
    flex-wrap: wrap;
}

.card__ul li {
    width: 50%;
    cursor: pointer;
    position: relative;
    padding: 0 12px;
}

.card__ul li:before {
    content: "";
    width: 6px;
    height: 6px;
    background: #181818;
    border-radius: 100%;
    opacity: 0;
    position: absolute;
    left: 2px;
    top: 5px;
    transition: opacity .5s ease-out;
}

.card__ul li:hover:before,
.card__ul li.active:before {
    opacity: 1;
}

.card__all {
    min-width: 15px;
    height: 15px;
    background: url(../img/card__all.svg) center no-repeat;
    background-size: 100%;
    cursor: pointer;
    transition: transform .5s ease-out;
}

.card__all:hover {
    transform: rotate(90deg);
}

.card__buttons {
    width: 50%;
}

.card__button {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    border: 1px solid #181818;
    font-size: 11px;
    line-height: 40px;
    cursor: pointer;
    padding: 0;
    margin: 0 0 13px;
    transition: background .5s ease-out, color .5s ease-out;
}

.card__button:hover {
    background: #181818;
    color: #fff;
}

.card__button:last-child {
    margin: 0;
}

.card__lft {
    width: 45%;
}

.card__txt {
    font-size: 12px; 
    margin: 0 0 14px;
}

.card__downloads {
    display: flex;
    margin: 0 0 12px;
}

.card__download {
    width: 72px;
    height: 30px;
    background-image: url(../img/card__download.svg);
    background-position: right 9px center;
    background-repeat: no-repeat;
    background-size: 11px;
    border: 1px solid #181818;
    font-size: 11px;
    line-height: 30px;
    padding: 0 9px;
    margin: 0 15px 0 0;
    transition: background .5s ease-out, color .5s ease-out;
}

.card__download:hover {
    background-image: url(../img/card__download-hover.svg);
    background-color: #181818;
    color: #fff;
}

.card__download:last-child {
    margin: 0;
}

.card_fav {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.card_fav__img {
    width: 32px;
    min-width: 32px;
    height: 32px;
    background-image: url(../img/fav.svg);
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    border: 1px solid #181818;
    border-radius: 100%;
    transition: background .5s ease-out;
}

.card_fav__txt {
    font-size: 12px;
    margin: 0 0 0 7px;
}

.card_fav.active .card_fav__img, 
.card_fav:hover .card_fav__img {
    background-image: url(../img/fav-hover.svg);
}

.card_fav span:nth-child(2) {
    display: none;
}

.card_fav.active span:nth-child(1) {
    display: none;
}

.card_fav.active span:nth-child(2) {
    display: inline;
}

.card__wrp {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.card__input {
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #181818;
    font-size: 13px;
    padding: 0 11px;
}

.card__input-small {
    width: 50%;
}

.card__input-border {
    border-right: 2px solid #181818;
}

.card__textarea {
    width: 100%;
    height: 90px;
    border-bottom: 2px solid #181818;
    font-size: 13px;
    padding: 20px 11px;
}

.card__button-submit {
    width: 50%;
}

.card__right {
    width: 57%;
    position: relative;
}

.card__tile {
    width: 100%;
    opacity: 0;
    transition: opacity .5s ease-out;
}

.card__tile {
    opacity: 1;
}

.card__tl {
    width: 100%;
    display: flex !important;
    flex-wrap: wrap;
}

.card__img {
    width: calc((100% - 32px) / 3);
    height: 130px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    margin: 0 16px 16px 0;
    transition: box-shadow .5s ease-out;
}

.card__img:hover {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, .15);
}

.card__img:nth-child(3n) {
    margin: 0 0 16px;
}

.card__slider {
    width: 100%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity .5s ease-out;
}

.card__slider.active {
    opacity: 1;
    pointer-events: auto;
}

.card__slide {
    height: 464px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.search_res {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3px;
    cursor: pointer;
    margin: 0 0 74px;
}

.search_res__result {
    position: relative;
    margin: 0 6px;
}

.search_res__result:before {
    content: "";
    width: 0;
    height: 1px;
    background: #181818;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width .5s ease-out;
}

.search_res__result:hover:before {
    width: 100%;
}

.search__wrp {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 142px;
}

.search__el {
    width: calc((100% - 64px) / 3);
    margin: 0 32px 42px 0;
}

.search__el:nth-child(3n) {
    margin: 0 0 42px;
}

.search__img {
    width: 100%;
    height: 260px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 20px;
}

.search__desc {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #181818;  
}

.search__title {
    width: calc(100% - 60px);
    border-right: 1px solid #181818;
    border-bottom: 1px solid #181818;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .3px;
    padding: 3px 11px 10px;
}

.search__counter {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #181818;
    font-size: 20px;
    font-weight: 400;
    padding: 3px 11px;
}

.search__row {
    width: 50%;
    min-height: 38px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .3px;
    padding: 10px 11px;
}

.search__row-border {
    border-right: 1px solid #181818;
}

.search_nav {
    display: flex;
    justify-content: center;
    font-size: 13px;
}

.search_nav__navs {
    display: flex;
    margin: 0 136px;
}

.search_nav__nav {
    cursor: pointer;
    position: relative;
    margin: 0 11px;
}

.search_nav__next {
    cursor: pointer;
    position: relative;
}

.search_nav__next:before,
.search_nav__nav:before {
    content: "";
    width: 0;
    height: 1px;
    background: #181818;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width .5s ease-out;
}

.search_nav__next:hover:before,
.search_nav__nav:hover:before {
    width: 100%;
}

.fav__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #181818;
    padding: 0 0 20px;
    margin: 0 0 20px;
}

.fav__row:last-child {
    border-bottom: none;
    padding: 0;
    margin: 0;
}

.fav__card {
    width: calc((100% - 38px) / 2);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 0 0 60px;
}

.fav__card:nth-child(2n):before {
    content: "";
    width: 1px;
    height: 100%;
    background: #181818;
    position: absolute;
    left: -20px;
    top: 0;
}

.fav__block {
    width: calc((100% - 16px) / 2);
    position: relative;
}

.fav__title {
    display: flex;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 8px;
}

.fav__counter {
    font-size: 30px;
    margin: 0 0 12px;
}

.fav_desc {
    display: flex;
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 28px;
}

.fav_desc__col {
    margin: 0 26px 0 0;
}

.fav_desc__col:last-child {
    margin: 0;
}

.fav__block-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.fav__fav {
    width: 32px;
    height: 32px;
    background-image: url(../img/fav.svg);
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    border: 1px solid #181818;
    border-radius: 100%;
    cursor: pointer;
    margin: 0 0 30px;
    transition: background .5s ease-out;
}

.fav__fav.active, 
.fav__fav:hover {
    background-image: url(../img/fav-hover.svg);
}

.fav__img {
    width: 100%;
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog__el {
    width: 100%;
    max-width: 600px;
    margin: 0 0 110px;
}

.blog__el:last-child {
    margin: 0;
}

.blog__img {
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 16px;
}

.blog__date {
    font-size: 12px;
    margin: 0 0 18px;
}

.blog__h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 20px;
}

.blog__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 24px;
}

.blog__link {
    font-size: 12px;
    position: relative;
}

.blog__link:before {
    content: "";
    width: 0;
    height: 1px;
    background: #181818;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width .5s ease-out;
}

.blog__link:hover:before {
    width: 100%;
}

.txt {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #181818;
    margin: 0 auto;
}

.txt__h1 {
    width: 100%;
    border-bottom: 2px solid #181818;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: .3px;
    padding: 15px 11px;
}

.txt__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding: 15px 11px;
}

.txt__text p {
    margin: 0 0 24px;
}

.txt__text *:last-child {
    margin: 0;
}

.header__fav {
    width: 24px;
    height: 24px;
    background: url(../img/star.svg) center no-repeat;
    background-size: 100%;
    margin: 0 0 0 24px;
    display: none;
}

.filter__fltr {
    display: none;
}

.card__slider__nav {
    display: none !important;
}

.card__dsc {
    display: none;
}

.card_nav {
    display: none;  
}

.close-card__slider {
    width: 33px;
    height: 33px;
    background-color: #fff;
    background-size: 21px;
}

.fancybox-skin {
    background: none;
    box-shadow: none !important;
}

.fancybox-margin {
    margin-right: 0 !important;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-overlay {
    background: rgba(255, 255, 255, .5);
}

.fancybox-close {
    background: url(../img/filter__close.svg) center no-repeat #fff;
    transition: transform .5s ease-out;
}

.fancybox-close:hover {
    transform: rotate(90deg);
}

/* Tablet */
@media (max-width: 1024px) {
    .main_h1 {
        font-size: 20px;
        line-height: 24px;
        margin: 70px 0 40px;
    }

    .header__icons {
        margin: 0 0 0 30px;
    }

    .header__lnk-phone {
        width: 22px;
        height: 22px;
        background: url(../img/phone.svg) center no-repeat;
        background-size: cover;
        border: none;
        font-size: 0;
        padding: 0;
        margin: 0 0 0 16px;
    }

    .main_slider {
        margin: 0 0 50px;
    }

    .main_slider__img {
        height: 400px;
    }

    .main_form {
        margin: 0 0 50px;
    }

    .location {
        padding: 20px 0;
        margin: 0 0 50px;
    }

    .location__h2 {
        margin: 0 0 14px
    }

    .location__wrp {
        margin: 0 0 25px -16px;
    }

    .location__img {
        height: 164px;
        margin: 0 0 14px;
    }

    .main_block__partner {
        height: 200px;
    }

    .main_block__wrp {
        margin: 0 0 20px;
    }

    .main_block__persons {
        justify-content: space-between;
    }

    .main_block__person {
        width: 48%;
        flex-direction: column;
    }

    .main_block__about {
        width: 100%;
        justify-content: flex-start;
        padding: 14px 0 0;
    }

    .main_block__img {
        height: 220px;
    }

    .main_block__h3 {
        margin: 0 0 10px;
    }

    .main_block__new {
        width: 31%;
        margin: 0 3% 19px 0;
    }

    .main_block__new:nth-child(4n) {
        margin: 0 3% 19px 0;
    }

    .main_block__new:nth-child(3n) {
        margin: 0 0 19px;
    }

    .main_block__news {
        margin: 0 0 40px;
    }

    .filter__button {
        padding: 0 14px;
    }

    .header_drop__block {
        width: 100%;
    }

    .header_drop__block-empty {
        display: none;
    }

    .header_drop__submit {
        width: 100%;
    }

    .blog__el {
        margin: 0 0 70px;
    }

    .blog__img {
        height: 340px;
    }

    .fav__card {
        flex-direction: column-reverse;
        padding: 0 0 30px;
    }   
    
    .fav__block {
        width: 100%;
    }

    .fav__fav {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .fav__img {
        height: 160px;
        margin: 0 0 14px;
    }

    .search_res {
        margin: 0 0 40px;
    }

    .search__img {
        height: 220px;
        margin: 0 0 14px;
    }

    .search__el {
        width: 31%;
        margin: 0 3% 42px 0;
    }

    .search__wrp {
        margin: 0 0 50px;
    }   

	.card__left {
		width: 50%;
	}
	
	.card__right {
		width: 46%;
	}
	
	.card__img {
		height: 100px;
	}
	
	.card__slide {
		height: 360px;
    }
    
    .card {
        min-height: 360px;
    }
}

/* Mobile */
@media (max-width: 640px) {
    .wrapper {
        padding: 0 22px;
    }
    
    .header {
        top: 0;
        padding: 0 12px;
    }

    .header__lnk {
        display: none;
    }

    .header__lnk-phone {
        display: block;
    }

    .header__icons {
        width: 100%;
        height: 40px;
        background: #181818;
        position: fixed;
        left: 0;
        bottom: 0;
        padding: 0 12px;
        margin: 0;
    }

    .header_drop {
        width: 100%;
        max-width: 320px;
        max-height: calc(100vh - 79px);
    }

    .header_drop__textarea {
        height: 140px;
    }

    .header__filter {
        margin: 0 0 0 24px;
    }

    .header__fav {
        display: block;
    }

    .header_search {
        max-height: calc(100vh - 79px);
        top: 40px;
    }

    .close {
        width: 18px;
        height: 18px;
        right: 22px;
    }

    .close-search {
        top: 12px;
    }
    
    .header_search__form {
        width: 100%;
        height: 50px;
        border: 1px solid #181818;
        top: 40px;
    }

    .header_search__input {
        width: calc(100% - 100px);
        font-size: 26px;
    }

    .header_search__submit {
        width: 100px;
        border-left: 1px solid #181818;
        font-size: 13px;
    }

    .header_search__list {
        margin: 75px 0 0;
    }

    .header_search__el {
        margin: 0 0 24px;
    }

    .header .filter {
        max-height: calc(100vh - 79px);
        top: 40px;
    }

    .filter__row:nth-child(2n) {
        border-bottom: 1px solid #181818;
    }

    .filter__row-big {
        border-bottom: none;
    }

    .filter__row-big .filter__col {
        width: 100%;
        padding: 0;
    }

    .filter__checkbox {
        width: 100%;
        border-bottom: 1px solid #181818;
        margin: 0;
    }

    .filter__checkbox label {
        width: 100%;
        display: block;
        font-size: 20px;
        font-weight: 400;
        padding: 17px 22px;
    }

    .filter__checkbox label:before {
        width: 13px;
        height: 13px;
        left: inherit;
        right: 22px;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .filter__col-double {
        display: none;
    }

    .filter__col-clear {
        width: 100%;
    }

    .filter__button {
        font-size: 16px;
        text-align: center;
    }

    .filter_switch {
        display: none;
    }

    .filter__col-col {
        height: 0;
        overflow: hidden;
        transform: translateX(-400%);
        transition: height .5s, transform .5s;
    }

    .filter__col-col.active {
        height: auto;
        transform: translateX(0);
    }

    .filter__row-top {
        padding: 22px;
    }

    .filter__fltr {
        width: 100%;;
        display: block;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0.38px;
        margin: 0 0 22px;
    }

    .filter__row-top .filter__col {
        width: auto;
        border-right: none;
        padding: 0;
        margin: 0 6px 0 0;
    }

    .filter__row-top .filter__col:last-child {
        margin: 0;
    }

    .filter__row-top .filter__col_col {
        width: auto;
    }

    .filter__title {
        font-size: 13px;
        position: relative;
    }

    .filter__title:before {
        content: "";
        width: 0;
        height: 1px;
        background: #181818;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: width .5s ease-out;
    }
    
    .filter__title.active:before {
        width: 100%;
    }

    .main_h1 {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        margin: 66px 0 37px;
    }

    .serach_line {
        padding: 0 0 7px;
    }

    .serach_line__form {
        height: 30px;
    }

    .serach_line__form input {
        font-size: 26px;
        font-weight: 400;
        margin: 0;
    }

    .main_slider__top {
        border-bottom: none;
        position: relative;
        padding: 60px 0 0;
        margin: 0 0 16px;
    }

    .main_slider__help {
        width: 100%;
        font-size: 13px;
        line-height: 17px;
        letter-spacing: .25px;
        top: 0;
        padding: 0 22px;
    }

    .main_slider .wrapper {
        padding: 0;
    }

    .main_slider__bottom {
        flex-direction: column;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.25px;
        padding: 0 60px;
    }

    .main_slider__left {
        max-width: 100%;
        margin: 0 0 8px;
    }

    .main_slider__img {
        height: 260px;
    }

    .main_slider__nav {
        width: 23px;
        height: 17px;
        top: inherit;
        bottom: 57px;
    }

    .main_slider__nav-prev {
        left: 22px;
    }

    .main_slider__nav-next {
        right: 22px;
    }

    .main_form {
        flex-direction: column;
        border: none;
        padding: 0 22px;
    }

    .main_form__title {
        max-width: 226px;
        border-bottom: none;
        font-size: 26px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0;
        padding: 0;
        margin: 0 0 28px;
    }

    .main_form__left {
        width: 100%;
        border-right: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        padding: 0;
        margin: 0 0 30px;
    }

    .main_form__right {
        width: 100%;
        border: 1px solid #181818;
    }

    .main_form__top {
        width: 100%;
        min-height: 90px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        padding: 20px;
    }

    .main_form__top div {
        max-width: 280px;
        position: relative;
        padding: 0;
    }

    .main_form__top div:before {
        content: "";
        width: 2px;
        height: 20px;
        background: #181818;
        position: absolute;
        left: -9px;
        top: 0;
    }

    .main_form__input {
        width: 100%;
        border-right: none;
        border-top: 1px solid #181818;
        padding: 0 20px;
    }

    .main_form__input-file label {
        padding: 0;
    }

    .main_form__input-submit {
        font-size: 15px;
        text-align: center;
    }

    .location__h2 {
        font-size: 26px;
        font-weight: 400;
        letter-spacing: 0;
        padding: 0 22px;
        margin: 0 0 30px;
    }

    .location__bottom {
        padding: 0 22px;
    }

    .location__nav {
        display: none !important;
    }

    .location__text {
        max-width: 240px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
    }

    .location__element {
        margin: 0 7px;
    }

    .location__wrp {
        width: calc(100% + 14px);
        margin: 0 0 27px -7px;
    }

    .location__title {
        font-size: 14px;
        line-height: 15px;
        letter-spacing: 0;
        padding: 7px 12px;
    }

    .location__left {
        width: 60%;
        display: flex;
        align-items: center;
        font-size: 14px;
        letter-spacing: 0;
        padding: 3px 11px;
    }

    .location__right {
        width: 40%;
        font-size: 23px;
    }

    .location {
        padding: 50px 0;
    }

    .location .wrapper {
        padding: 0;
    }

    .main_block__wrp {
        flex-direction: column;
        border-bottom: 1px solid #181818;
        margin: 0 0 50px;
    }

    .main_block {
        border: none;
    }

    .main_block__h2 {
        border-bottom: none;
        font-size: 26px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0;
        padding: 0 22px;
        margin: 0 0 28px;
    }

    .main_block__left {
        width: 100%;
        border-right: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        padding: 0 22px;
        margin: 0 0 28px;
    }

    .main_block__right {
        width: 100%;
        border-top: 1px solid #181818;
    }

    .main_block__line {
        border-bottom: 1px solid #181818;
        padding: 20px 22px;
    }

    .main_block__h2 {
        font-size: 20px;
        margin: 0 0 33px;
    }

    .main_block__partner {
        width: 50%;
        height: 150px;
        border-right: none;
        border-bottom: 1px solid #181818;
    }

    .main_block__partner:nth-child(4n) {
        border-right: none;
    }

    .main_block__partner:nth-child(2n + 1) {
        border-right: 1px solid #181818;
    }

    .main_block__wrp-persons,
    .main_block__wrp-partners {
        border-bottom: none;
    }

    .main_block__partners {
        border-top: 1px solid #181818;
    }

    .main_block__persons {
        flex-direction: column;
        padding: 0 22px;
    }

    .main_block__person {
        width: 100%;
        margin: 0 0 50px;
    }

    .main_block__person:last-child {
        margin: 0;   
    }

    .main_block__img {
        width: 100%;
        height: 240px;
    }

    .main_block__about {
        padding: 20px 0 0;
    }

    .main_block__h3 {
        max-width: 80%;
        font-size: 20px;
        font-weight: 400;
        margin: 0 0 20px;
    }

    .main_block__phone {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }

    .main_block__news {
        display: block;
        white-space: nowrap;
        overflow-x: scroll;
        padding: 0 22px;
        margin: 0 0 40px;
    }

    .main_block__new {
        width: 246px;
        display: inline-block;
        white-space: normal;
        margin: 0 15px 0 0;
    }

    .main_block__new:nth-child(3n) {
        margin: 0 15px 0 0;
    }

    .main_block__new:last-child {
        margin: 0;
    }

    .main_block__image {
        height: 164px;
        margin: 0 0 30px;
    }

    .main_block__more {
        font-size: 14px;
        margin: 0 auto;
    }

    .footer,
    .footer-main {
        margin: 80px 0;
    }

    .footer {
        height: auto;
        flex-direction: column-reverse;
        border: none;
        padding: 0 22px;
    }

    .footer__block {
        width: 100%;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0;
        padding: 0;
        margin: 0 0 8px;
    }

    .footer__block:first-child {
        border-right: none;
    }

    .breadcrumbs {
        font-size: 0;
        margin: 60px 0 0;
    }

    .card {
        flex-direction: column-reverse;
        margin: 0 0 120px;
    }

    .card__right {
        width: 100%;
    }

    .card__tile  {
        display: none;
    }

    .card__slider {
        opacity: 1;
        pointer-events: auto;
        position: static;
        margin: 0 0 60px;
    }

    .card__slide {
        height: 261px;
        position: relative;
    }

    .card__slider__nav {
        width: 23px;
        height: 17px;
        display: block !important;
        background: url(../img/main_slider__nav.svg) center no-repeat;
        background-size: contain;
        cursor: pointer;
        position: absolute;
        bottom: 27px;
        margin: auto;
    }
    
    .card__slider__nav-prev {
        left: 22px;
    }
    
    .card__slider__nav-next {
        right: 22px;
        transform: rotate(180deg);
    }

    .card__slider .slick-list {
        overflow: visible;
    }

    .card__dsc {
        width: calc(100% - 110px);
        display: block;
        font-size: 13px;
        text-align: center;
        text-decoration: underline;
        position: absolute;
        bottom: -30px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .card__left {
        width: 100%;
        border: none;
        border-top: 1px solid #181818;
    }

    .card__h1 {
        width: calc(100% - 96px);
        border-right: 1px solid #181818;
        border-bottom: 1px solid #181818;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0;
        padding: 22px 14px 22px 22px;
    }

    .card__number {
        border-bottom: 1px solid #181818;
    }

    .card_nav {
        width: 100%;
        display: flex;
        padding: 0 22px;
        margin: 22px 0 0;
    }

    .card_nav__nav {
        font-size: 12px;
        position: relative;
        margin: 0 10px 0 0;
    }

    .card_nav__nav:last-child {
        margin: 0;
    }

    .card_nav__nav:before {
        content: "";
        width: 0;
        height: 1px;
        background: #181818;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: width .5s ease-out;
    }
    
    .card_nav__nav.active:before {
        width: 100%;
    }

    .card__row-text {
        border-bottom: none;
        font-size: 16px;
    }

    .card__row-click {
        display: none;
    }

    .card__row-border {
        width: 100%;
        border: none;
        line-height: 20px;
    }

    .card__wp {
        margin: 0 33px 0 0;
    }

    .card__lft {
        width: 100%;
    }

    .card__row-last {
        padding: 0;
    }

    .card__buttons {
        width: 100%;
        border-top: 1px solid #181818;
        border-bottom: 1px solid #181818;
        padding: 22px 22px 60px;
        margin: 0 auto;
    }

    .card_fav {
        flex-direction: column;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -52px;
        margin: auto;
    }

    .card_fav__txt {
        font-size: 13px;
        margin: 12px 0 0;
    }

    .card_fav__img {
        width: 48px;
        min-width: 48px;
        height: 48px;
    }

    .card__row {
        padding: 0;
    }

    .card__txt {
        font-size: 16px;
        font-weight: 400;
        margin: 0 0 16px;
    }

    .card__downloads {
        justify-content: space-between;
        margin: 0;
    }

    .card__download {
        width: calc((100% - 13px) / 2);
        font-size: 15px;
        padding: 0 13px;
        margin: 0;
    }
    
    .card__show {
        height: 0;
        transform: scale(0);
        padding: 0;
        margin: 0;
        transition: height .5s, transform .5s;
    }

    .card__show.active {
        height: auto;
        padding: 0 22px 22px;
        margin: 20px auto 0;
        transform: scale(1);
    }

    .card__button {
        height: 60px;
        font-size: 15px;
        line-height: 60px;
        margin: 0 0 20px;
    }

    .card__input {
        border-bottom: 1px solid #181818;
        font-size: 15px;
        padding: 0 22px;
    }

    .card__input-small {
        width: 100%;
    }

    .card__input-border {
        border-right: none;
    }

    .card__textarea {
        border-bottom: 1px solid #181818;
        font-size: 16px;
        padding: 20px 22px;
    }

    .card__button-submit {
        width: 100%;
        margin: 20px 22px 0 !important;
    }

    .card__row-form {
        border-bottom: 1px solid #181818 !important;
        padding: 0 0 60px;
    }

    .blog__img {
        height: 220px;
    }

    .blog__el {
        margin: 0 0 50px;
    }

    .blog__date {
        margin: 0 0 14px;
    }

    .blog__h2 {
        margin: 0 0 12px;
    }

    .fav__card {
        width: 100%;
        padding: 0;
        margin: 0 0 70px;
    }
    
    .fav__card:nth-child(2n):before {
        display: none;
    }

    .fav__img {
        height: 240px;
    }

    .fav__title {
        width: 70%;
    }

    .fav__counter {
        width: 30%;
        text-align: center;
    }

    .fav__block {
        display: flex;
        flex-wrap: wrap;
    }

    .fav__block-left {
        padding: 0 22px;
    }

    .fav__block .card__txt {
        width: 100%;
    }

    .fav__block .card__downloads {
        width: 100%;
    }

    .fav_desc {
        line-height: 20px;
        margin: 0 0 20px;
    }

    .fav_desc__col {
        margin: 0 33px 0 0;
    }

    .fav__row {
        border-bottom: none;
        padding: 0;
        margin: 0;
    }

    .serach_line-page {
        margin: 80px 0 9px;
    }

    .main_filter .filter.active {
        border-bottom: none;
    }

    .filter__col {
        border-right: none;
    }

    .search_res__txt {
        width: 100%;
        font-size: 20px;
        margin: 0 0 12px;
    }

    .search_res {
        font-size: 12px;
        letter-spacing: 0;
    }

    .search_res__result {
        margin: 0 12px 0 0;
    }

    .search_res__result:last-child {
        margin: 0;
    }

    .wrapper-search {
        padding: 0;
    }

    .search__el {
        width: 100%;
        margin: 0 0 70px;
    }

    .search__img {
        height: 240px;
        margin: 0;
    }

    .search__desc {
        border-left: none;
        border-right: none;
    }

    .search__title {
        width: calc(100% - 90px);
        line-height: 15px;
        letter-spacing: 0;
        padding: 12px 22px 10px;
    }

    .search__counter {
        width: 90px;
        font-size: 28px;
        padding: 3px 22px;
    }

    .search__row {
        font-size: 13px;
        padding: 10px 22px;
    }

    .search_nav {
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 22px;
    }

    .search_nav__help {
        display: none;
    }

    .search_nav__next {
        width: 100%;
        height: 60px;
        border: 1px solid #181818;
        font-size: 15px;
        text-align: center;
        line-height: 60px;
        margin: 0 0 40px;
    }

    .search__wrp {
        margin: 0;
    }

    .search_nav__next:before {
        display: none;;
    }

    .wrapper-fav {
        padding: 0;
    }

    .txt {
        border: none;
    }

    .txt__h1 {
        border-bottom: none;
        font-size: 20px;
        letter-spacing: .38px;
        padding: 0;
        margin: 0 0 20px;
    }

    .txt__text {
        font-size: 16px;
        line-height: 20px;
        padding: 0;
    }

    .txt__text p {
        margin: 0 0 16px;
    }
	
	.card__row {
		flex-wrap: wrap;
    }
    
    .close-card__slider {
        display: none;
    }
}

/* Iphone X */
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) { 
    .header .filter,
    .header_search,
    .header_drop {
        max-height: calc(100vh - 192px);
    }
}