{% extends "base.html" %}
{% block seo_titles %}
    <title>{% if data.seo_title %}{{ data.seo_title }}{% else %}Страница не найдена | Locationbook - сервис по подбору локаций и объектов для съемок{% endif %}</title>
    <meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% else %}Locationbook - сервис по подбору локаций и объектов для съемок{% endif %}">
    <meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% else %}объекты для съемок, аренда помещений для съемок, аренда локаций для съемок, лоакции для кино, кинообъекты, локации для съемок кино{% endif %}">
{% endblock %}
{% block content %}

  <div class="wrapper">
    <div class="breadcrumbs">
      <a href="/">Главная</a> /
      <span>404</span>
    </div>

    <article class="txt">
      <h1 class="txt__h1">404 страница не найдена</h1>
      <div class="txt__text">
        <a href="/">Главная</a>
        <a href="/location-base/">Объекты для съемок</a>
      </div>
    </article>
  </div>
  
{% endblock %}