{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" type="image/png" sizes="128x128" href="/static/locfav.png">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="/static/js/libs/slick/slick.css">
        {% block seo_titles %}
        {% endblock %}
        {% block more_css %}

        {% endblock %}

        <link rel="stylesheet" href="/static/css/styles.css?22082019">
        <title>{% if data.seo_title %}{{ data.seo_title }}{% else %}{{ data.name }}{% endif %}</title>
    </head>
    <body>
        <div class="header">
            <div class="header__left">
                <a href="/" class="header__link">Locationbook</a>
                <div class="header__icons">
                    <div class="header__search"></div>
                    <div class="header__filter"></div>
                    <a href="#" class="header__fav"></a>
                </div>
            </div>
            <div class="header__right">
                <a href="/location-base/" class="header__lnk"><span>База</span></a>
                <a href="/fav/" class="header__lnk"><span>Избранное</span></a>
                <a href="tel:{{ siteinfo.phone }}" class="header__lnk header__lnk-phone"><span>{{ siteinfo.phone }}</span></a>
                <div class="header__menu"></div>
            </div>
            <form class="header_drop">
                <div class="close close-drop"></div>
                <div class="header_drop__block">
                    <a href="/" class="header_drop__link">Главная</a>
                </div>
                <div class="header_drop__block">
                    <a href="/#zayavki" class="header_drop__link">Заявка на подбор локации</a>
                    <a href="/#new_locations" class="header_drop__link">Новые локации</a>
                    <a href="/#tags" class="header_drop__link">Популярные теги</a>
                    <a href="/#services" class="header_drop__link">Услуги</a>
                    <a href="/#partners" class="header_drop__link">Партнеры</a>
                    <a href="/#team" class="header_drop__link">Команда</a>
                </div>
                <!--<div class="header_drop__block">-->
                    <!--<a href="#" class="header_drop__link">База</a>-->
                <!--</div>-->
                <!--<div class="header_drop__block header_drop__block-inline">-->
                    <!--<a href="#" class="header_drop__link">Поиск</a>-->
                    <!--<a href="#" class="header_drop__link">Фильтр</a>-->
                <!--</div>-->
                <div class="header_drop__block header_drop__block-full">
                    <a href="/blog/" class="header_drop__link">Блог</a>
                </div>
                <div class="header_drop__block">
                    <a href="/location-base/" class="header_drop__link">База</a>
                </div>
                <div class="header_drop__block">
                    <a href="tel:8 999 851 92 29" class="header_drop__link">{{ siteinfo.phone }}</a>
                    <a href="tel:8 916 887 42 85" class="header_drop__link">{{ siteinfo.phone2 }}</a>
                    <div class="header_drop__address">{{ siteinfo.addr }}</div>
                    <a href="mailto:{{ siteinfo.email }}" class="header_drop__link">{{ siteinfo.email }}</a>
                </div>
                <!--<div class="header_drop__block header_drop__block-full">-->
                    <!--<div class="header_drop__title">Обратная связь</div>-->
                <!--</div>-->
                <!--<textarea class="header_drop__textarea" name="text" id="text" placeholder="Ваше сообщение"></textarea>-->
                <!--<div class="header_drop__block header_drop__block-empty"></div>-->
                <!--<button class="header_drop__submit" type="submit">Отправить →</button>-->
            </form>
            <form class="filter">
                <div class="close close-filter"></div>
                <div class="filter__row filter__row-top">
                    <div class="filter__fltr">Фильтры:</div>
                    <div class="filter__col">
                        <div class="filter__col_col">
                            <div class="filter__title active">Тип</div>
                        </div>
                        <div class="filter_switch" style="opacity: 0;">
                            <div class="filter_switch__left"></div>
                            <div class="filter_switch__right">
                                <div class="filter_switch__radio">
                                    <input id="filter_1" value="filter_1" name="filter" type="radio" checked="checked">
                                    <label for="filter_1">интерьер</label>
                                </div>
                                <div class="filter_switch__radio">
                                    <input id="filter_2" value="filter_2" name="filter" type="radio">
                                    <label for="filter_2">натура</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter__col">
                        <div class="filter__title">Помещение</div>
                    </div>
                    <div class="filter__col">
                        <div class="filter__title">Стиль</div>
                    </div>
                </div>
                <div class="filter__row filter__row-big">
                    <div class="filter__col filter__col-col active locations_type">
                        {% for t in locations_type %}
                            <div class="filter__checkbox">
                                <input id="loc_type_{{ t.0 }}" value="{{ t.0 }}" name="loc_type" type="checkbox">
                                <label for="loc_type_{{ t.0 }}">{{ t.1 }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="filter__col filter__col-col rooms_type">
                        {% for t in rooms_type %}
                            <div class="filter__checkbox">
                                <input id="room_{{ t.0 }}" value="{{ t.0 }}" name="room" type="checkbox">
                                <label for="room_{{ t.0 }}">{{ t.1 }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="filter__col filter__col-col styles_type">
                        {% for t in styles_type %}
                            <div class="filter__checkbox">
                                <input id="styles_type_{{ t.0 }}" value="{{ t.0 }}" name="room" type="checkbox">
                                <label for="styles_type_{{ t.0 }}">{{ t.1 }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="filter__row">
                    <div class="filter__col filter__col-double"></div>
                    <div class="filter__col filter__col-clear">
                        <div class="filter__button filter__button-clear">сбросить ×</div>
                        <div class="filter__button filter__button-watch">смотреть →</div>
                    </div>
                </div>
            </form>
            <div class="header_search">
                <div class="wrapper">
                    <div class="close close-search"></div>
                    <form class="header_search__form" onsubmit="return false">
                        <input class="header_search__input" id="search" name="search" type="text" placeholder="Поиск">
                        <input class="header_search__submit" id="header_search__submit" name="header_search__submit" type="submit" value="Найти →">
                    </form>
                    <div class="header_search__list">
                    </div>
                </div>
            </div>
        </div>

        {% block top_content %}

        {% endblock %}

        <section class="content">

            {% block content %}

            {% endblock %}

            <div class="footer {% if data.alias == 'index' %}footer-main{% endif %}">
                <div class="footer__block">© Locationbook. Москва. 2019. <a href="/private-policy/" target="_blank" class="footer__link">Privacy Policy</a></div>
                <div class="footer__block">
                    <a href="#" target="_blank" class="footer__social">→ Facebook</a>
                    <a href="#" target="_blank" class="footer__social">→ Instagram</a>
                    <a href="https://api.whatsapp.com/send?phone={{ siteinfo.phone|cut:' '|cut:'+' }}" target="_blank" class="footer__social">→ WhatsApp</a>
                </div>
            </div>
        </section>
        <div class="big_loader">
            <svg xmlns="http://www.w3.org/2000/svg" width="69" height="67" viewBox="0 0 69 67" fill="none"><path d="M43 7.5C43 11.6421 39.1944 15 34.5 15C29.8056 15 26 11.6421 26 7.5C26 3.35786 29.8056 0 34.5 0C39.1944 0 43 3.35786 43 7.5Z" fill="#333"></path><path d="M15 34.5C15 38.0899 11.6421 41 7.5 41C3.35786 41 0 38.0899 0 34.5C0 30.9101 3.35786 28 7.5 28C11.6421 28 15 30.9101 15 34.5Z" fill="#333"></path><path d="M19 50.5C19 54.6421 16.0899 58 12.5 58C8.91015 58 6 54.6421 6 50.5C6 46.3579 8.91015 43 12.5 43C16.0899 43 19 46.3579 19 50.5Z" fill="#333"></path><path d="M32 60.5C32 64.0899 29.0899 67 25.5 67C21.9101 67 19 64.0899 19 60.5C19 56.9101 21.9101 54 25.5 54C29.0899 54 32 56.9101 32 60.5Z" fill="#333"></path><path d="M50 60.5C50 64.0899 47.0899 67 43.5 67C39.9101 67 37 64.0899 37 60.5C37 56.9101 39.9101 54 43.5 54C47.0899 54 50 56.9101 50 60.5Z" fill="#333"></path><path d="M63 50.5C63 53.5376 60.5376 56 57.5 56C54.4624 56 52 53.5376 52 50.5C52 47.4624 54.4624 45 57.5 45C60.5376 45 63 47.4624 63 50.5Z" fill="#333"></path><path d="M69 35.5C69 38.5376 66.5376 41 63.5 41C60.4624 41 58 38.5376 58 35.5C58 32.4624 60.4624 30 63.5 30C66.5376 30 69 32.4624 69 35.5Z" fill="#333"></path><path d="M58 10.5C58 12.9853 55.7614 15 53 15C50.2386 15 48 12.9853 48 10.5C48 8.01472 50.2386 6 53 6C55.7614 6 58 8.01472 58 10.5Z" fill="#333"></path><path d="M22 16.5C22 20.6421 18.6421 24 14.5 24C10.3579 24 7 20.6421 7 16.5C7 12.3579 10.3579 9 14.5 9C18.6421 9 22 12.3579 22 16.5Z" fill="#333"></path><path d="M65 21.5C65 23.9853 62.9853 26 60.5 26C58.0147 26 56 23.9853 56 21.5C56 19.0147 58.0147 17 60.5 17C62.9853 17 65 19.0147 65 21.5Z" fill="#333"></path></svg>
        </div>
        <script src="/static/js/libs/jquery/jquery.js"></script>
        <script src="/static/js/libs/slick/slick.min.js"></script>
        <script src="/static/js/csrf.js"></script>
        <script>
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
        {% block more_js %}

        {% endblock %}

        <script src="/static/js/script.js"></script>
        <script>
            $(document).ready(function () {
                jQuery.curCSS = function(element, prop, val) {
                    return jQuery(element).css(prop, val);
                };
                $(function() {
                    $('.header_search .header_search__form input[name=search]').autocomplete({
                        source: "/get_fields/",
                        minLength: 2,
                        select: function( event, ui ) {
                            log( ui.item ?
                                "Выбрано: " + ui.item.value + " aka " + ui.item.id :
                                "Нет ничего подходящего " + this.value );
                        }
                    }).on( "autocompletesearch", function( event, ui ) {
                        $('.header_search .header_search__list').html('')
                    })
                    .data( "autocomplete" )._renderItem = function( ul, item ) {
                        return $.when($('<div class="header_search__el"></div>')
                                            .data( "item.autocomplete", item )
                                            .append( '<a href="/location-base/' + item.alias + '/" class="catalog-item">' + item.name + '</a>' )
                                            .appendTo('.header_search .header_search__list')).then($('.header_search .header_search__list > div').length ? $('.header_search .header_search__list').addClass('active') : $('.header_search .header_search__list').removeClass('active'))
                    }
                })
                $('.filter__button-watch').click(function () {
                    var finall_url = '/location-base/',
                        filters = [],
                        locations_type = [],
                        room = [],
                        style = [];

                    if ($('.filter__col.locations_type :checked').length ) {
                        $('.filter__col.locations_type :checked').each(function () {
                            locations_type.push($(this).val());
                        });

                        filters.push('location_type=' + locations_type.join(','));
                    }

                    if ($('.filter__col.rooms_type :checked').length ) {
                        $('.filter__col.rooms_type :checked').each(function () {
                            room.push($(this).val());
                        });

                        filters.push('room=' + room.join(','));
                    }

                    if ($('.filter__col.styles_type :checked').length ) {
                        $('.filter__col.styles_type :checked').each(function () {
                            style.push($(this).val());
                        });

                        filters.push('style=' + style.join(','));
                    }

                    if (filters.length){
                        finall_url = finall_url + '?' + filters.join('&');
                    }

                    window.location.href = finall_url;
                })

                // Добавить в избранное
                $(".card_fav, .main_slider__fav, .fav__fav").on("click", function(){
                    $this = $(this);
                    id = $(this).data('id');

                    if (!$(this).hasClass('active')){
                        $('.big_loader').addClass('active')
                        $.ajax({
                            url: '/ajax/',
                            method: "POST",
                            data: {type: 'add_fav', id : id, csrfmiddlewaretoken: getCookie('csrftoken')},
                            success: function (data, textStatus){
                                $this.toggleClass("active");
                                $('.big_loader').removeClass('active')
                            }
                        });
                    } else {
                        id = $(this).data('id');

                        $.ajax({
                            url: '/ajax/',
                            method: "POST",
                            data: {type: 'remove_fav', id : id, csrfmiddlewaretoken: getCookie('csrftoken')},
                            success: function (data, textStatus){
                                $this.toggleClass("active");
                                console.log(data);
                            }
                        });
                    }
                });
            });
        </script>
    </body>
</html>