{% extends "base.html" %}
{% block seo_titles %}
    <title>{% if data.seo_title %}{{ data.seo_title }}{% else %}{{ data.name }}{% endif %}</title>
    <meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% else %}{{ data.name }}{% endif %}">
    <meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% else %}{{ data.name }}{% endif %}">
{% endblock %}
{% block content %}

<div class="wrapper">
    <div class="breadcrumbs">
        <a href="/">Главная</a> /
        <span>Блог</span>
    </div>
    <div class="blog">
        {% for i in blog_items %}
            <article class="blog__el">
                <a href="{% url 'main:blog_item' i.alias %}"><div class="blog__img" style="background-image: url({% if i.image %}{{ i.image.url }}{% else %}/static/img/main_slider__img.jpg){% endif %};"></div></a>
                <div class="blog__date">{{ i.datetime|date:"d/m/Y" }}</div>
                <h2 class="blog__h2">{{ i.name }}</h2>
                <div class="blog__text">{{ i.content|safe|striptags|truncatechars:100 }}</div>
                <a href="{% url 'main:blog_item' i.alias %}" class="blog__link">читать далее ↓</a>
            </article>
        {% endfor %}
    </div>
</div>

{% endblock %}