{% extends "base.html" %}
{% block seo_titles %}
    <title>{% if data.seo_title %}{{ data.seo_title }}{% else %}{{ data.name }} | Locationbook - сервис по подбору локаций и объектов для съемок{% endif %}</title>
    <meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% else %}{{ data.name }} | Locationbook - сервис по подбору локаций и объектов для съемок{% endif %}">
    <meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% else %}объекты для съемок, аренда помещений для съемок, аренда локаций для съемок, лоакции для кино, кинообъекты, локации для съемок кино{% endif %}">
{% endblock %}
{% block more_css %}

    <link rel="stylesheet" href="/static/js/libs/fancybox/jquery.fancybox.css">

{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="breadcrumbs">
        <a href="/">Главная</a> /
        <a href="/location-base/">База</a> /
        <span>{{ data.name }}</span>
    </div>
</div>
<div class="card">
    <div class="card__left">
        <h1 class="card__h1">Два дома по 500 м2 каждый на участке с ландшафтным дизайном</h1>
        <div class="card__number">
            <span>{% if data.number %}{{ data.number }}{% else %}{{ data.id }}{% endif %}</span>
            номер лота
        </div>
        <div class="card__wrp card__wrp-1 active">
            <div class="card_nav">
                <div class="card_nav__nav active">Описание</div>
                <div class="card_nav__nav">Характеристики</div>
                <div class="card_nav__nav">Скачать</div>
            </div>
            <div class="card__row card__row-text card__show card__show-1 active">{{ data.loc_descr }}</div>
            <div class="card__row card__row-small card__row-border card__show card__show-2">
                <div class="card__wp">
                    <div>Площадь</div>
                    <div>Тип</div>
                    <div>Стиль</div>
                    <div>Место</div>
                </div>
                <div class="card__wp">
                    <div>500 м</div>
                    <div>Дом</div>
                    <div>Современный</div>
                    <div>Рассказовка</div>
                </div>
            </div>
            <div class="card__row card__row-small card__row-click">
                {% comment %} <ul class="card__ul">
                    {% for i in data.location_photos.all %}
                    <li>{% if i.name %}{{ i.name }}{% else %}Фотография{% endif %}</li>
                    {% endfor %}
                </ul> {% endcomment %}
                <div class="card__gal">
                    <span>Скрыть галлерею →</span>
                    <span>Показать галлерею ×</span>
                </div>
            </div>
            <div class="card__row card__row-last">
                <div class="card__lft">
                    <div class="card__show-dwnld card__show card__show-3">
                        <div class="card__txt">Скачать фото:</div>
                        <div class="card__downloads">
                            <a href="#" class="card__download">PDF</a>
                            <a href="#" class="card__download">JPEG</a>
                        </div>
                    </div>
                    <div class="card_fav add_to_fav{% if data.pk in session.favourite %} active{% endif %}" data-id="{{ data.id }}">
                        <div class="card_fav__img"></div>
                        <div class="card_fav__txt"><span>+ Добавить</span> <span>Доблено</span> в избранное</div>
                    </div>
                </div>
                <div class="card__buttons">
                    <!--<a href="tel:{{ siteinfo.phone }}" class="card__button">Позвонить {{ siteinfo.phone }}</a>-->
                    <div class="card__button card__button-show">Отправить запрос</div>
                </div>
            </div>
        </div>
        <form class="card__form card__wrp card__wrp-2" onsubmit="return false">
            <div class="close close-card"></div>
            <input class="card__input" id="name" name="name" type="text" placeholder="Имя">
            <input class="card__input card__input-small card__input-border" id="phone" name="phone" type="text" placeholder="Номер телефона">
            <input class="card__input card__input-small" id="email" name="email" type="email" placeholder="E-mail">
            <input class="card__input" id="project" name="project" type="text" placeholder="Название проекта">
            <textarea class="card__textarea" id="comment" name="comment" placeholder="Комментарий"></textarea>
            <div class="card__row card__row-form">
                <div class="card_fav">
                    <div class="card_fav__img"></div>
                    <div class="card_fav__txt">+ Добавить в избранное</div>
                </div>
                <input class="card__button card__button-submit" id="card__wrp__submit" name="card__wrp__submit" type="submit" value="Отправить запрос">
            </div>
        </form>
    </div>
    <div class="card__right">
        <div class="card__tile active">
            <div class="card__tl">
                {% for i in data.location_photos.all %}
                    <div class="card__img" style="background-image: url(//locationbook.ru{{ i.image.url }});" title="{{ data.name }}"></div>
                    {% if forloop.counter|divisibleby:"9" %}
                        </div>
                        <div class="card__tl">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="card__slider">
            <div class="close close-card__slider"></div>
            <div class="card__w">
                {% for i in data.location_photos.all %}
                    <a href="//locationbook.ru{{ i.image.url }}" class="card__slide fancybox" style="background-image: url(//locationbook.ru{{ i.image.url }});" title="{{ data.name }}">
                        <div class="card__dsc">{% if i.name %}{{ i.name }}{% endif %}</div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block more_js %}

    <script src="/static/js/libs/fancybox/jquery.fancybox.js"></script>
    <script>
        $(document).ready(function () {
            $('#card__wrp__submit').click(function () {
                params = {
                    name: $('.card__form [name=name]').val(),
                    phone: $('.card__form [name=phone]').val(),
                    email: $('.card__form [name=email]').val(),
                    project: $('.card__form [name=project]').val(),
                    comment: $('.card__form [name=comment]').val(),
                    location: $('h1.card__h1').text(),
                }
                if( params['name'] != "" && params['phone'] != "" ){
                    $('.big_loader').addClass('active')
                    $.ajax({
                        url: '/ajax/',
                        method: "POST",
                        data: {type: 'book_room', params : params, csrfmiddlewaretoken: getCookie('csrftoken')},
                        success: function (data, textStatus){
                            $('.big_loader').removeClass('active')
                            alert('отправлено')
                            $('.card__form .close.close-card').trigger('click')
                            $('.card__form [name=name]').val('')
                            $('.card__form [name=phone]').val('')
                            $('.card__form [name=email]').val('')
                            $('.card__form [name=project]').val('')
                            $('.card__form [name=comment]').val('')
                        }
                    })
                }
            })
        })
    </script>
{% endblock %}