{% extends "base.html" %}
{% block content %}
<div class="wrapper">
    <div class="breadcrumbs">
        <a href="/">Главная</a> /
        <span>Избранное</span>
    </div>
</div>
<div class="wrapper wrapper-fav">
    <div class="fav__wrp">
        <div class="fav__row">
            {% for l in locations %}
                <div class="fav__card">
                    <div class="fav__block fav__block-left">
                        <a href="{% url 'main:card' l.alias %}" class="fav__title">{{ l.name }}</a>
                        <div class="fav__counter">{{ l.number }}</div>
                        <div class="fav_desc">
                            <div class="fav_desc__col">
                                <div>Площадь</div>
                                <div>Тип</div>
                                <div>Стиль</div>
                                <div>Место</div>
                            </div>
                            <div class="fav_desc__col">
                                <div>500 м</div>
                                <div>Дом</div>
                                <div>Современный</div>
                                <div>Рассказовка</div>
                            </div>
                        </div>
                        <div class="card__txt">Скачать фото:</div>
                        <div class="card__downloads">
                            <a href="#" class="card__download">PDF</a>
                            <a href="#" class="card__download">JPEG</a>
                        </div>
                    </div>
                    <div class="fav__block fav__block-right">
                        <div class="fav__fav{% if l.pk in session.favourite %} active{% endif %}" data-id="{{ l.pk }}"></div>
                        <a href="{% url 'main:card' l.alias %}" class="fav__img" style="background-image: url(//locationbook.ru/media/{{ l.get_first_item.image }});"></a>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 and not forloop.last %}
                </div>
                <div class="fav__row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}