{% extends "base.html" %}
{% block seo_titles %}
    <title>{% if data.seo_title %}{{ data.seo_title }}{% else %}{{ data.name }}{% endif %}</title>
    <meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% else %}{{ data.name }}{% endif %}">
    <meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% else %}{{ data.name }}{% endif %}">
{% endblock %}
{% block top_content %}

<section class="content">
    <div class="wrapper">
        <h1 class="main_h1">Сервис по подбору локаций для проведения рекламных и киносъемок</h1>
    </div>
    <div class="serach_line">
        <div class="wrapper">
            <form action="" class="serach_line__form" onsubmit="return false">
                <input id="serach_line" name="search" type="text" placeholder="Поиск">
            </form>
            <div class="header_search__list"></div>
        </div>
    </div>
    <div class="main_filter">
        <div class="wrapper">
            <div class="main_filter__title">Фильтр</div>
        </div>
        <form class="filter">
            <div class="close close-filter"></div>
            <div class="filter__row filter__row-top">
                <div class="filter__fltr">Фильтры:</div>
                <div class="filter__col">
                    <div class="filter__col_col">
                        <div class="filter__title active">Тип</div>
                    </div>
                    <div class="filter_switch" style="opacity: 0">
                        <div class="filter_switch__left"></div>
                        <div class="filter_switch__right">
                            <div class="filter_switch__radio">
                                <input id="filter_1" value="filter_1" name="filter" type="radio" checked="checked">
                                <label for="filter_1">интерьер</label>
                            </div>
                            <div class="filter_switch__radio">
                                <input id="filter_2" value="filter_2" name="filter" type="radio">
                                <label for="filter_2">натура</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter__col">
                    <div class="filter__title">Помещение</div>
                </div>
                <div class="filter__col">
                    <div class="filter__title">Стиль</div>
                </div>
            </div>
            <div class="filter__row filter__row-big">
                <div class="filter__col filter__col-col active locations_type">
                    {% for t in locations_type %}
                        <div class="filter__checkbox">
                            <input id="loc_type_{{ t.0 }}_" value="{{ t.0 }}" name="loc_type" type="checkbox">
                            <label for="loc_type_{{ t.0 }}_">{{ t.1 }}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="filter__col filter__col-col rooms_type">
                    {% for t in rooms_type %}
                        <div class="filter__checkbox">
                            <input id="room_{{ t.0 }}_" value="{{ t.0 }}" name="room" type="checkbox">
                            <label for="room_{{ t.0 }}_">{{ t.1 }}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="filter__col filter__col-col styles_type">
                    {% for t in styles_type %}
                        <div class="filter__checkbox">
                            <input id="styles_type_{{ t.0 }}_" value="{{ t.0 }}" name="room" type="checkbox">
                            <label for="styles_type_{{ t.0 }}_">{{ t.1 }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="filter__row">
                <div class="filter__col filter__col-double"></div>
                <div class="filter__col filter__col-clear">
                    <div class="filter__button filter__button-clear">сбросить ×</div>
                    <div class="filter__button filter__button-watch">смотреть →</div>
                </div>
            </div>
        </form>
    </div>
    <div class="main_slider">
        {% for s in locations %}
            <div class="main_slider__slide">
                <div class="main_slider__top">
                    <div class="main_slider__help">
                        Актуальные локации
                        <span><span class="main_slider__count_1">1</span> / <span class="main_slider__count_2">1</span></span>
                    </div>
                    <div class="wrapper">
                        <div class="main_slider__img" style="background-image: url(//locationbook.ru/media/{{ s.get_first_item.image }});">
                            <a href="{% url 'main:card' s.alias %}" style="display: block; width: 100%; height: 100%;"></a>
                            <span>{{ s.name }} #{% if s.number %}{{ s.number }}{% else %}{{ s.pk }}{% endif %}</span>
                            <div class="main_slider__fav add_to_fav{% if s.pk in session.favourite %} active{% endif %}" data-id="{{ s.id }}"></div>
                        </div>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="main_slider__bottom">
                        <div class="main_slider__left">{% if s.loc_descr %}{{ s.loc_descr }}{% endif %}</div>
                        {% comment %}<div class="main_slider__right">
                            {% if s.get_first_item.name %}На фото: <br/>
                            {{ s.get_first_item.name }}
                            {% endif %}
                        </div>{% endcomment %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <form class="main_form" onsubmit="return false" id="zayavki">
        <div class="main_form__title">Заявка на подбор локации</div>
        <div class="main_form__left">Мы подберём объект для проведения съемок кино, рекламы, клипов и пр. Если в нашей базе не окажется локации, соответствующей вашему запросу, мы найдем ее специально для вас. Отправьте заявку мы обязательно ответим в ближайшее время.</div>
        <div class="main_form__right">
            <div class="main_form__top">
                <div>Опишите параметры локации в свободной форме</div>
            </div>
            {{ page_form.name }}
            {{ page_form.phone }}
            {{ page_form.email }}
            {{ page_form.project }}
            {{ page_form.days }}
            {{ page_form.loc_type }}
            <div class="main_form__input main_form__input-file">
                <label for="id_file">Прикрепить файл +</label>
                {{ page_form.file }}
            </div>
            <input class="main_form__input main_form__input-submit" id="main_form__submit" name="main_form__submit" type="submit" value="Отправить →">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ c.csrf_token }}" style="display: none;">
        </div>
    </form>
</section>
<section class="location">
    <div class="wrapper">
        <h2 class="location__h2" id="new_locations">Новые локации</h2>
        <div class="location__wrp">
        {% for i in last_locations %}
            <a href="{% url 'main:card' i.alias %}" class="location__element">
                <div class="location__img" style="background-image: url(//locationbook.ru/media/{{ i.get_first_item.image }});"></div>
                <div class="location__desc">
                    <div class="location__title">{{ i.name }}</div>
                    <div class="location__left">{% if i.address_custom %}{{ i.address_custom }}{% else %}{{ i.get_addres_display }}{% endif %}</div>
                    <div class="location__right">#{% if i.number %}{{ i.number }}{% else %}{{ i.id }}{% endif %}</div>
                </div>
            </a>
        {% endfor %}
        </div>
        <div class="location__bottom">
            <div class="location__text">Локации сортированные по дате добавления в базу.</div>
            <div class="location__next"></div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<div class="main_block">
    <div class="main_block__wrp">
        <h2 class="main_block__h2" id="tags">Популярные поисковые запросы</h2>
        <div class="main_block__left">Мы подберём объект для проведения съемок кино, рекламы, клипов и пр. Если в нашей базе не окажется локации, соответствующей вашему запросу, мы найдем ее специально для вас. Отправьте заявку мы обязательно ответим в ближайшее время.</div>
        <div class="main_block__right">
            {% for p in popular %}
            <a href="{{ p.url }}"><div class="main_block__line">→ {{ p.name }}</div></a>
            {% endfor %}
        </div>
    </div>
    <div class="main_block__wrp" id="services">
        <h2 class="main_block__h2">Услуги</h2>
        <div class="main_block__left">Кроме подбора локаций мы поможем с сопутствующими услугами. Просто закажите услугу позвонив нам по телефону или напишите комментарий с необходимой услугой в заявке на подбор локации.</div>
        <div class="main_block__right">
            {% for s in services %}
            <div class="main_block__line">
                <div class="main_block__title">{{ s.name }}</div>
                <div class="main_block__desc">{{ s.description }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="main_block__wrp main_block__wrp-partners">
        <h2 class="main_block__h2" id="partners">Партнёры</h2>
        <div class="main_block__partners">
            {% for p in partners %}
                <div class="main_block__partner">
                    {% if p.url %}<a href="{{ p.url }}" target="_blank">{% else %}<a href="javascript:">{% endif %}<img src="//locationbook.ru{{ p.image.url }}" alt="{{ p.name }}" title="{{ p.name }}"></a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="main_block__wrp main_block__wrp-persons">
        <h2 class="main_block__h2" id="team">Команда</h2>
        <div class="main_block__persons">
            {% for m in members %}
            <article class="main_block__person">
                <div class="main_block__img" style="background-image: url(//locationbook.ru{{ m.image.url }});"></div>
                <div class="main_block__about">
                    <div class="main_block__center">
                        <h3 class="main_block__h3">{{ m.name }}</h3>
                        <a href="tel:{{ m.phone }}" class="main_block__phone">{{ m.phone }}</a>
                        <a href="mailto:{{ m.email }}" class="main_block__phone">{{ m.email }}</a>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
    <div class="main_block__wrp">
        <h2 class="main_block__h2">Публикации</h2>
        <div class="main_block__news">
            {% for i in blog_pages %}
                <article class="main_block__new">
                    <a href="{% url 'main:blog_item' i.alias %}"><div class="main_block__image" style="background-image: url({% if i.image %}{{ i.image.url }}{% else %}/static/img/main_slider__img.jpg){% endif %};"></div></a>
                    <div class="main_block__date">{{ i.datetime|date:"d/m/Y" }}</div>
                    <h3 class="main_block__h3">{{ i.name }}</h3>
                    <div class="main_block__txt">{{ i.content|safe|striptags|truncatechars:100 }}</div>
                    <a href="{% url 'main:blog_item' i.alias %}" class="main_block__lnk">→ перейти в блог</a>
                </article>
            {% endfor %}
        </div>
        <div class="main_block__more">Ещё публикации ↓</div>
    </div>
</div>

{% endblock %}

{% block more_js %}
<script>
    $(document).ready(function () {
       $(function() {
            $('.serach_line .serach_line__form input[name=search]').autocomplete({
                source: "/get_fields/",
                minLength: 2,
                select: function( event, ui ) {
                    log( ui.item ?
                        "Выбрано: " + ui.item.value + " aka " + ui.item.id :
                        "Нет ничего подходящего " + this.value );
                }
            }).on( "autocompletesearch", function( event, ui ) {
                $('.serach_line .header_search__list').html('')
            })
            .data( "autocomplete" )._renderItem = function( ul, item ) {
                return $.when($('<div class="header_search__el"></div>')
                                    .data( "item.autocomplete", item )
                                    .append( '<a href="/location-base/' + item.alias + '/" class="catalog-item">' + item.name + '</a>' )
                                    .appendTo('.serach_line .header_search__list')).then($('.serach_line .header_search__list > div').length ? $('.serach_line .header_search__list').addClass('active') : $('.serach_line .header_search__list').removeClass('active'))
            }
        })
//                data.append('file', $('.main_form input#id_file')[0].files[0])
        $('body #main_form__submit').click(function () {
            params = {
                name: $('.main_form [name=name]').val(),
                phone: $('.main_form [name=phone]').val(),
                email: $('.main_form [name=email]').val(),
                project: $('.main_form [name=project]').val(),
                days: $('.main_form [name=days]').val(),
                loc_type: $('.main_form [name=loc_type]').val(),
//                        file: $('.main_form [name=comment]').val(),
            }
            if( params['name'] != "" && params['phone'] != "" ){
                $.ajax({
                    url: '/',
                    method: "POST",
                    data: {type: 'forma', params : params, csrfmiddlewaretoken: getCookie('csrftoken')},
                    success: function (data, textStatus){
                        alert('отправлено')
                    }
                })
            }
        })
    })
</script>
{% endblock %}