{% extends "base.html" %}
{% block seo_titles %}
    <title>{% if data.seo_title %}{{ data.seo_title }}{% else %}{{ data.name }}{% endif %}</title>
    <meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% else %}{{ data.name }}{% endif %}">
    <meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% else %}{{ data.name }}{% endif %}">
{% endblock %}
{% block content %}

<section class="content">
    <div class="serach_line serach_line-page">
        <div class="wrapper">
            <form action="" class="serach_line__form" onsubmit="return false">
                <input id="serach_line" name="search" type="text" placeholder="Поиск">
            </form>
            <div class="header_search__list"></div>
        </div>
    </div>
    <div class="main_filter">
        <div class="wrapper">
            <div class="main_filter__title">Фильтр</div>
        </div>
        <form class="filter">
            <div class="close close-filter"></div>
            <div class="filter__row filter__row-top">
                <div class="filter__fltr">Фильтры:</div>
                <div class="filter__col">
                    <div class="filter__col_col">
                        <div class="filter__title active">Тип</div>
                    </div>
                    <div class="filter_switch" style="opacity: 0;">
                        <div class="filter_switch__left"></div>
                        <div class="filter_switch__right">
                            <div class="filter_switch__radio">
                                <input id="filter_1" value="filter_1" name="filter" type="radio" checked="checked">
                                <label for="filter_1">интерьер</label>
                            </div>
                            <div class="filter_switch__radio">
                                <input id="filter_2" value="filter_2" name="filter" type="radio">
                                <label for="filter_2">натура</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter__col">
                    <div class="filter__title">Помещение</div>
                </div>
                <div class="filter__col">
                    <div class="filter__title">Стиль</div>
                </div>
            </div>
            <div class="filter__row filter__row-big">
                <div class="filter__col filter__col-col active locations_type">
                    {% for t in locations_type %}
                        <div class="filter__checkbox">
                            <input id="loc_type_{{ t.0 }}_" value="{{ t.0 }}" name="loc_type" type="checkbox">
                            <label for="loc_type_{{ t.0 }}_">{{ t.1 }}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="filter__col filter__col-col rooms_type">
                    {% for t in rooms_type %}
                        <div class="filter__checkbox">
                            <input id="room_{{ t.0 }}_" value="{{ t.0 }}" name="room" type="checkbox">
                            <label for="room_{{ t.0 }}_">{{ t.1 }}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="filter__col filter__col-col styles_type">
                    {% for t in styles_type %}
                        <div class="filter__checkbox">
                            <input id="styles_type_{{ t.0 }}_" value="{{ t.0 }}" name="room" type="checkbox">
                            <label for="styles_type_{{ t.0 }}_">{{ t.1 }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="filter__row">
                <div class="filter__col filter__col-double"></div>
                <div class="filter__col filter__col-clear">
                    <div class="filter__button filter__button-clear">сбросить ×</div>
                    <div class="filter__button filter__button-watch">смотреть →</div>
                </div>
            </div>
        </form>
    </div>
    <!--<div class="wrapper">-->
        <!--<div class="search_res">-->
            <!--<div class="search_res__txt">Фильтры поиска: </div>-->
            <!--<div class="search_res__result">Квартира ×</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="wrapper wrapper-search">
        <div class="search__wrp">
            {% for l in locs %}
                <a href="{% url 'main:card' l.alias %}" class="search__el">
                    <div class="search__img" style="background-image: url(//locationbook.ru{{ l.get_first_item.image.url }});"></div>
                    <div class="search__desc">
                        <div class="search__title">{{ l.name }}</div>
                        <div class="search__counter">{% if l.number %}{{ l.number }}{% else %}{{ l.pk }}{% endif %}</div>
                        <div class="search__row search__row-border">{{ l.get_addres_display }}</div>
                        <div class="search__row">120 м2</div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="search_nav">
            <div class="search_nav__help">{{ locs.start_index }}—{{ locs.end_index }} из {{ locations|length }} локаций</div>
            {% if locs.has_previous %}
            <a href="?page={{ pag }}{{ locs.previous_page_number }}{{dop_url}}"><div class="search_nav__next">← назад</div></a>
            {% endif %}
            <div class="search_nav__navs">
                {% for pag in locs.paginator.page_range %}
                    {% if pag == locs.number %}
                        <div class="search_nav__nav">{{ pag }}</div>
                    {% else %}
                        <a href="?page={{ pag }}{{dop_url}}"><div class="search_nav__nav">{{ pag }}</div></a>
                    {% endif %}
                {% endfor %}
            </div>
            {% if locs.has_next %}
            <a href="?page={{ pag }}{{ locs.next_page_number }}{{dop_url}}"><div class="search_nav__next">далее →</div></a>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}

{% block more_js %}
<script>
    $(document).ready(function () {
        $(function() {
            $('.serach_line .serach_line__form input[name=search]').autocomplete({
                source: "/get_fields/",
                minLength: 2,
                select: function( event, ui ) {
                    log( ui.item ?
                        "Выбрано: " + ui.item.value + " aka " + ui.item.id :
                        "Нет ничего подходящего " + this.value );
                }
            }).on( "autocompletesearch", function( event, ui ) {
                $('.serach_line .header_search__list').html('')
            })
            .data( "autocomplete" )._renderItem = function( ul, item ) {
                return $.when($('<div class="header_search__el"></div>')
                                    .data( "item.autocomplete", item )
                                    .append( '<a href="/location-base/' + item.alias + '/" class="catalog-item">' + item.name + '</a>' )
                                    .appendTo('.serach_line .header_search__list')).then($('.serach_line .header_search__list > div').length ? $('.serach_line .header_search__list').addClass('active') : $('.serach_line .header_search__list').removeClass('active'))
            }
        })
    })
</script>
{% endblock %}