<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for u in urls %}
    <url>
        <loc>{{ u }}</loc>
        <changefreq>daily</changefreq>
        <priority>0.5</priority>
    </url>
    {% endfor %}
</urlset>