{% extends "base.html" %}
{% block seo_titles %}
    <title>{% if data.seo_title %}{{ data.seo_title }}{% else %}{{ data.name }}{% endif %}</title>
    <meta name="description" content="{% if data.seo_description %}{{ data.seo_description }}{% else %}{{ data.name }}{% endif %}">
    <meta name="keywords" content="{% if data.seo_keywords %}{{ data.seo_keywords }}{% else %}{{ data.name }}{% endif %}">
{% endblock %}

{% block content %}

  <div class="wrapper">
    <div class="breadcrumbs">
      <a href="/">Главная</a> /
      <span>{{ data.name }}</span>
    </div>

    <article class="txt">
      <h1 class="txt__h1">{{ data.name }}</h1>
      <div class="txt__text">
        {{ data.content|safe }}  
      </div>
    </article>
  </div>
  
{% endblock %}